<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.kaelthas.demo">

    <!-- 网络访问 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 调用相机 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>


    <application
        android:name=".application.application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5785ea8b67e58e825600179c">
        </meta-data>

        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SimpleDraweeViewActivity"
            android:parentActivityName=".ui.activity.MainActivity"/>
        <activity
            android:name=".ui.activity.BadgeViewActivity"
            android:label="测试"
            android:parentActivityName=".ui.activity.MainActivity">

            <!-- 两个入口 -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- 数据双向绑定 DataBinding -->
        <activity
            android:name=".ui.activity.DataBindingActivity"
            android:parentActivityName=".ui.activity.MainActivity"/>

        <!-- 二维码生成,扫描,图片识别 -->
        <activity
            android:name=".ui.activity.QRCodeActivity"
            android:parentActivityName=".ui.activity.MainActivity">
        </activity>

        <!-- ZXing摄像头扫描 -->
        <activity android:name=".ui.activity.ZXingScanActivity">
        </activity>

        <!-- 友盟登录,分享 -->
        <activity android:name=".ui.activity.UmengSocialActivity">
        </activity>


        <!--相机调用-->
        <activity
            android:name=".ui.activity.CameraActivity"
            android:parentActivityName=".ui.activity.MainActivity"/>

        <!--camera1-->
        <activity
            android:name=".ui.activity.Camera1Activity"
            android:parentActivityName=".ui.activity.CameraActivity"/>


        <!--camera2-->
        <activity
            android:name=".ui.activity.Camera2Activity"
            android:parentActivityName=".ui.activity.CameraActivity"/>


        <!-- 微信分享.登录需要自己创建ac继承WXCallbackActivity -->
        <!-- 同理需要建立回调的平台还有支付宝与易信 详情查看文档 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- qq精简版 -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1106087834"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    </application>

</manifest>